body{
    background-color: oklch(0.707 0.022 261.325);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ticket{
    background-color: oklch(0.372 0.044 257.287);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 20px;
}

.ticket:hover{
    background-color: oklch(0.208 0.042 265.755);
}
