body {background-color: antiquewhite;}
.box{
    color: rgb(227, 227, 250);
    text-align: center;
    background-color: #476072;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    padding: 1px;

}

.ele.button.button{
    color:red;
}